<nav class="navbar bg-dark border-bottom border-body justify-content-center" data-bs-theme="dark">
  <div class="justify-content-center" >
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/movies'">The best TVShows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/login'">Login</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

<div class="container bg-dark">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <div id="fecha"></div>
  </footer>
</div>

<script>
  const fechaActual = new Date();

  // Obtener el año actual
  const opciones = { year: 'numeric' };
  const añoActual = fechaActual.toLocaleDateString('es-ES', opciones);

  // Mostrar la fecha en el elemento HTML en el formato deseado
  const elementoFecha = document.getElementById('fecha');
  elementoFecha.textContent = `CondominumAPP ${añoActual}`;
</script>